h1 {
    text-align: center;
}

#grille {
    width: fit-content;
    margin: auto;
}
  
#grille input[type=text] {
    font-size: 2em;
    text-transform: capitalize;
    width: 1.3em;
    height: 1.3em;
    padding: 0.15em;
    text-align: center;
    border-radius: 0.3rem;
    vertical-align: center;
}
  
.lettre-bien-placee {
    background-image: linear-gradient(#D93526D0, #D93526D0);
    background-origin: content-box;
}
  
.lettre-mal-placee {
    background-image: radial-gradient(ellipse at center, #FFBF00A0 70%, transparent 70%);
    background-origin: content-box;
    background-repeat: no-repeat;
}